--
-- PostgreSQL database dump
-- Backup do dia 16/06/2026
--

\restrict JKhjMpOjJX5a9VB6Kflcrlkofo28ryiNDE8IxGJQUKHHIsMOvjyIcFaiYIYhXcn

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users; Type: TABLE; Schema: public; Owner: user
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    email character varying(255),
    name character varying(255),
    password character varying(255),
    role character varying(255),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['MASTER'::character varying, 'USER'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO "user";

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: user
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: user
--

COPY public.users (id, email, name, password, role) FROM stdin;
5	maya@gmail.com	maya	$2a$10$S7t/bNUVcw3L2VMQAga2WOnIslfYGrbvCp3d7cqOcndUQ2creHO3K	MASTER
6	roni@gmail.com	roni	$2a$10$CVMlGlV6UlMhpCigTp8p1uPFigX5QQv4XEZakEn4oOFl8u/Nn69yu	MASTER
7	silvia@gmail.com	silvia	$2a$10$F7OiX1hTAztYogP8m0uM.eJ293/hKQYxtbph6uO4O3yFpeHcMa4DS	MASTER
8	userteste@gmail.com	user teste	$2a$10$0DOLZ/zV7ksvmcfwMl1wGO1zkFRVEnWdXt5WAIEbA2r7x3/TAa6Im	MASTER
\.


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: user
--

SELECT pg_catalog.setval('public.users_id_seq', 8, true);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict JKhjMpOjJX5a9VB6Kflcrlkofo28ryiNDE8IxGJQUKHHIsMOvjyIcFaiYIYhXcn

